<div class="row">
   {{partial 'navs/nav'}}
</div>
 
 {{outlet}}

  <!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright Kannansv.in 2014 </p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">About me</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">FaQ</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Footer end -->
