<div class="row">
   {{partial 'navs/nav'}}
</div>

 {{outlet}}

  <!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright Kannansv.in 2014 </p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li>{{#link-to 'aboutus'}}About me{{/link-to}}</li>
          <li>{{#link-to 'privacy'}}Privacy{{/link-to}}</li>
          <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
          <li>{{#link-to 'faq'}}FaQ{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Footer end -->
