<div class="row">

  <div class="large-6 columns">
    <button  {{action 'remove' this}} class='button tiny alert round '>  Delete </button>

    <img src="http://placehold.it/500x500&text=Image"><br>

  </div>


  <div class="large-6 columns">

    <h3 class="show-for-small">{{name}}<hr/></h3>

    <div class="panel">
      <h4 class="hide-for-small">{{name}}<hr/></h4>
    </div>
  </div>

</div>